#section-calendar

.calendar__title
    @extend .ui-title-extra-big
    font-weight: 900
    text:
        transform: uppercase 
        align: center
    margin: 
        top: $boxModel
        bottom: $boxModel

#calendar-nav
    width: 100%
    height: 120px
    margin: 
        top: $boxModel
        bottom: $boxModel
    box:
        sizing: border-box
    padding: 
        top: $boxModel
        bottom: $boxModel
    +flex(center,space-between)
    border:
        color: lighten($black, 70)
        top: 
            style: solid 
            width: 1px
        bottom: 
            style: solid 
            width: 1px
    position: relative
    z-index: 1
    .icon-arrow
        transform: scale(1.25)
        margin: 
            right: $boxModel
            left: $boxModel

.month__title
    @extend .ui-title-extra-big
    color: $pink
    text-align: center
    transform: translateY(-90px)
    z-index: -1
    position: relative

.calendar
    .slick-list
        overflow: initial
    @media #{$mobile} 
        .wk-col
            margin: 
                top: 0
                bottom: 0
    
    .dates
        .date
            box-sizing: border-box
            @media #{$desktop} 
                +flex(flex-start, flex-start)
                padding: 
                    top: $boxModel * 2
                    right: $boxModel * 2
                    bottom: $boxModel * 2
                    left: $boxModel * 2
            @media #{$mobile} 
                padding: 
                    top: $boxModel * 2
                    right: $boxModel
                    bottom: $boxModel * 2
                    left: $boxModel
                // &:not(:last-child)
                //     border-bottom: 1px solid $gray

            .date__formated
                background-color: $lilac
                box-sizing: border-box
                color: $white
                padding: 
                    top: 4px
                margin: 
                    right: $boxModel
                @media #{$mobile} 
                    width: 80px
                    height: 80px
                    +flex(center,space-around,column)
                    margin-bottom: $boxModel
                .date__formated-month
                    text-align: center
                    text-transform: uppercase
                    font:
                        weight: 100
                        size: 12px
                    transform: translateY(4px)
                .date__formated-day
                    font:
                        size: 52px
                        weight: 900
                        family: sans-serif
                    line-height: .75
                    transform: translate(8px, 4px)

            .date__content
                .date__title
                    @extend .ui-title-big
                .date__day
                    color: $pink
                    text-transform: capitalize
                .date__address
                    margin: 
                        top: $boxModel
                        bottom: $boxModel
                    .date__address-title
                        text-transform: uppercase
                        color: $pink
                    .date__address-text
                        color: $mainColor
                .date__btns
                    +flex(center, flex-start)
                    .date__btn
                        transform: scale(0.85)
                            origin: left
                    .date__btn_register
                    .date__btn_joinus

/*******************************************************************************
/* Formulario en calendario */

.calendar__form
    position: relative
    box:
        shadow: 1px 10px 10px rgba($black, .25)
    border-radius: $boxModel
    .fancybox-container & 
        overflow: initial
    display: none
    max-width: 1260px
    background-color: $yellow
    margin: 
        left: $boxModel
        right: $boxModel
    padding: 
        top: $boxModel
        bottom: $boxModel
    .calendar__form-title
        @extend .ui-title-extra-big
        font-weight: 900
        text-align: center
        padding: 
            top: $boxModel
            bottom: $boxModel
    .wpcf7
        .wpcf7-form
            p 
                box-sizing: border-box
                @media #{$desktop} 
                    padding:
                        right: $boxModel
                        left: $boxModel
                @media #{$mobile} 
                    padding:
                        right: $boxModel / 2
                        left: $boxModel / 2
                &:nth-of-type(9) // Field how do you hear about us
                    @media #{$desktop} 
                        flex-basis: 50%
                    @media #{$mobile} 
                        flex-basis: 100%
                &:nth-of-type(10) // Text area your message
                    flex-basis: 100%
                &:last-of-type 
                    padding: 
                        top: $boxModel
                        bottom: $boxModel
            .wpcf7-response-output
                position: absolute
                top: 0
                bottom: 0
                right: 0
                left: 0
                border: 0
                background-color: $yellow
                font:
                    size: 62px
                    weight: 900
                line-height: 1
                text-align: center
                color: $mainColor
                width: 100%
                margin: 
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                box-sizing: border-box
                padding: 
                    top: 10%
                    right: 0
                    bottom: 0
                    left: 0
                opacity: 0
                transition: opacity .25s linear 2s
                visibility: hidden
                &:before
                    content: url('assets/img/icon-thank-you.png')
                    display: block
                &.wpcf7-mail-sent-ok
                    visibility: visible
                    opacity: 1
                    &:after
                        content: "We have received your information."
                        color: $white         
                        @extend .ui-title-extra-big
                        display: block
                        margin-top: $boxModel

    .fancybox-close-small
        background-color: $lilac
        border-radius: 20px
        &:after
            font: 
                size: 32px
                weight: 900
            color: $white
        transform: translate(20px, -20px)