/**
 * 
 * Box model
 * 
 */

.ui-box-model { padding-left: $boxModel; padding-right: $boxModel; }
@media #{$mobile} { 
	.ui-m-box-model { 
		padding-left: $boxModel; 
		padding-right: $boxModel; 
	} 
}

@media #{$desktop} { 
	.ui-d-box-model { 
		padding-left: $boxModel; 
		padding-right: $boxModel; 
	} 
}

.ui-link,
[class*="ui-link"] {
	transition: .25s $linear;
	color: $mainColor;
}
