$sliderBlanckArea: 100px

.slider
    .slide
        color: $mainColor
        height: $bannerHeight
        background:
            color: $lilac
        position: relative
        box-sizing: border-box
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
        .slide__img
            vertical-align: middle
            @media #{$desktop} 
                width: 100%
                height: 100%
            @media #{$mobile} 
                width: 100%
                height: calc(100% - #{$sliderBlanckArea})
                border-bottom: $borderElement solid 
            object: 
                fit: cover
                position: center
            position: absolute
            z-index: 0
            top: 0
            left: 0
        @at-root 
            .slide_border-style.slide
                .slide__img
                    @media #{$desktop} 
                        width: calc(100% - #{$sliderBlanckArea})
                        border:
                            right: $borderElement solid 
                            color: $purple
        .slide__content
            line-height: 2
            @media #{$desktop} 
                width: calc(100% - #{$sliderBlanckArea})
            @media #{$mobile} 
                height: calc(100% - #{$sliderBlanckArea})
            position: relative
            z-index: 1
            display: flex
            flex-direction: column
            justify-content: center
            height: 100%
            &.slide__content_left
                align-items: flex-start
            &.slide__content_center
                align-items: center
            &.slide__content_right
                align-items: flex-end
            line-height: 1.25
            h1,h2,h3,h4,h5,h6
                font-weight: 900
            h1,h2,h3,h4,h5,h6,p
                @media #{$desktop} 
                    margin: 
                        top: $boxModel / 2
                        bottom: $boxModel / 2
                    width: 50%
                @media #{$mobile} 
                    width: 100%
                    line-height: 1 !important
            h1
                @extend .ui-title-mega-big
            h2 
                @extend .ui-title-extra-big
                line-height: 1
            h3 
                @extend .ui-title-big
            h4
                @extend .ui-title
            h5, h6
                @extend .ui-title-small
            p 
                @media #{$mobile} 
                    margin:
                        top: $boxModel / 2
                        bottom: $boxModel / 2
            

.slider__arrow
    position: absolute
    z-index: 1
    @media #{$desktop} 
        top: 0
        bottom: 0
        margin: 
            top: auto
            bottom: auto
    @media #{$mobile} 
        bottom: #{$sliderBlanckArea / 5}
    &.slider__arrow_next
        right: #{$sliderBlanckArea / 5}
    &.slider__arrow_prev
        left: #{$sliderBlanckArea / 5}

.slick-dots
    +flex
    li 
        margin: 
            left: $boxModel / 2
            right: $boxModel / 2
    button
        border: 0;
        background: $lightGray;
        border-radius: 22px;
        width: 20px;
        height: 20px;
        display: inline-block;
        color: transparent;
        opacity: .5
        cursor: pointer
        &:focus 
            outline: 0
    .slick-active
        button
            opacity: 1
                
