/*******************************************************************************
/* COntact us header */

#contact-us-staff
    background-color: $lightGray

.contact-us__main-header-title 
    @extend .ui-title-mega-big
    text-align: center
    font-weight: 900

.contact-us__areas
    +flex(flex-start, center)
    flex-wrap: wrap
.contact-us__area
    display: flex
    flex-direction: column
    flex-basis: calc(50% - #{$boxModel * 4})
    border-radius: 12px
    @media #{$mobile} 
        flex-basis: 100%
        width: 100%
        margin: 
            left: $boxModel
            right: $boxModel
    hr
        width: 100%
        margin: 
            top: $boxModel
            bottom: $boxModel
    background-color: $lightPink
    margin: $boxModel
    box-sizing: border-box
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    &:nth-child(3),
    &:nth-child(4)
        min-height: 550px
    .contact-us__header
        +flex(center,flex-start)
        .contact-us__area-logo
            margin-right: $boxModel
        .contact-us__area-title
            @extend .ui-title-big
            font-weight: 900
            color: $lilac

    .contact-us__member
        @media #{$desktop} 
            +flex(center, flex-start)
        @media #{$mobile} 
            +flex(center, flex-start, column)
            text-align: center
        margin: 
            top: $boxModel
            bottom: $boxModel
        .contact-us__member-avatar
            margin-right: $boxModel
        .contact-us__member-info
            @media #{$desktop} 
                font-size: 18px
            @media #{$mobile} 
                font-size: 14px
            line-height: 1.15
            @media #{$mobile} 
                margin: 
                    top: $boxModel
                    bottom: $boxModel
            .contact-us__member-name
            .contact-us__member-position
            .contact-us__member-email
                @media #{$desktop} 
                    margin-top: $boxModel / 2

/*******************************************************************************
/* Section contact data */

#section-contact-data
    .wk-section-wrap
        padding: 
            top: 0
            bottom: 0
    background-color: $lilac

.contact__data
    +flex(center, space-evenly)
    box-sizing: border-box
    color: $white
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    
    .contact__data-item
        max-width: 300px
        text-align: center
    .contact__data-icon
        width: 60px
        height: 60px
        margin: 
            left: auto
            right: auto
        display: block
    .contact__data-text
        @extend .ui-label-text
        font:
            weight: 100
        margin: 
            top: $boxModel

/*******************************************************************************
/* Section map */

#section-map
    .wk-section-wrap
        padding:
            top: 0
            bottom: 0
            left: 0
            right: 0

/*******************************************************************************
/* Section contact form */

#section-contact-form
    .wpcf7
        .wpcf7-form
            p
                @media #{$desktop} 
                    flex-basis: calc(100% / 3)
                box-sizing: border-box
                padding: 
                    right: $boxModel
                    left: $boxModel
            > p:nth-of-type(4)
                flex-basis: 100% 
            > p:last-of-type
                flex-basis: 100%
        input[type="submit"]
            @extend .ui-btn_pink
            @extend .ui-btn_big
        .wpcf7-response-output
            border: 0
            @extend .ui-title-big
            text-align: center
            color: $mainColor
            width: 100%

