/*******************************************************************************
/* Sección programs info */


#section-programs-info
    background-color: $lightGray
    box-sizing: border-box

.programs-info
    background-color: $white 
    box-sizing: border-box
    // @media #{$desktop} 
    //     padding: 
    //         top: $boxModel * 2
    //         right: $boxModel * 2
    //         bottom: $boxModel * 2
    //         left: $boxModel * 2
    [class*="programs-info__col"]:not(.programs-info__cols)
        box-sizing: border-box
        @media #{$desktop} 
            padding: 
                top: $boxModel * 3
                right: $boxModel * 3
                bottom: $boxModel * 3
                left: $boxModel * 3
        @media #{$mobile} 
            padding: 
                top: $boxModel
                right: $boxModel
                bottom: $boxModel
                left: $boxModel
    .programs-info__img 
        width: 100%
        height: auto
    .programs-info__content
        margin: 
            top: $boxModel
            bottom: $boxModel
        color: $mainColor
        &.programs-info__content-n-img
            +flex
            @media #{$phone} 
                flex-direction: column
    .programs-info__icon
        font-size: 12px
        color: $pink
        vertical-align: middle
        margin-right: 10px
    .programs-info__title
        display: flex
        align-items: center
        @extend .ui-title-big
        text-transform: uppercase
    .programs-info__p

/*******************************************************************************
/* Video modal */

.video-home
    position: relative
    height: 500px
    width: 100%
    display: block
    +flex(center,center, column)
    .video-home__title
        @extend .ui-title-extra-big
        color: $white
        font-weight: 900
        margin: 
            top: $boxModel
            bottom: $boxModel
    .video-home__icon

.video-home__thumbnail-img
    position: absolute
    top: 0
    left: 0
    width: 100%;
    height: 100%
    object:
        fit: cover
        position: center
    z-index: -1

/*******************************************************************************
/* Sección We care of people */

#section-we-care-of-people
    background-color: $mainColor
    color: $white

.we-care__title
    @extend .ui-title-extra-big
    font-weight: 900
    margin-bottom: $boxModel * 2

.we-care__cols
    display: flex
    justify-content: space-between
    .we-care__col
        +flex(center,center,column)
        flex: auto
        
.we-care__fact
    +flex(center,center,column)
    .we-care__fact-num-container
        display: flex
        text-align: center
        line-height: 1
        font:
            weight: 900
            size: 90px
        transition: all .25s $cubicBezier
        opacity: 0
    .we-care__fact-num
    .we-care__fact-symbol
    .we-care__fact-title
