/*
 * Pulse
 *
 * Es la animación del corazón en el botón Donate en el menú principal
 *
 */

@keyframes pulse 
	0%
		transform: scale(1)
	50%
		transform: scale(1.2)
	100%
		transform: scale(1)

@keyframes pulse_iteration 
	0%
		transform: scale(1)
	10%
		transform: scale(1.2)
	20%
		transform: scale(1)
	30%
		transform: scale(1.2)
	40%
		transform: scale(1)
	100% 
		transform: scale(1)

