/* Mixins */

@mixin flex($align : false, $justify : false, $direction : false, $wrap : false ) 
	display: flex
	@if $align 
		align-items: $align
	@else
		align-items: center
	@if $justify 
		justify-content: $justify
	@else 
		justify-content: center
	@if $direction
		flex-direction: $direction
	@if $wrap
		flex-wrap: $wrap



@mixin inlineFlex($align : false, $justify : false, $direction : false, $wrap : false ) 
	display: inline-flex
	@if $align 
		align-items: $align
	@else
		align-items: center
	@if $justify 
		justify-content: $justify
	@else 
		justify-content: center
	@if $direction
		flex-direction: $direction
	@if $wrap
		flex-wrap: $wrap



.flexItem 
	@include flex( 'center', 'center' )

