html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
		&:focus {
			outline: 0;
		}
	}

body {
	font: {
		family: $mainFont;
		size: $paragraphSize;
		weight: $paragraphWeight;
	}
	overflow-x: hidden;
}

article {
	font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table { border-collapse: collapse; border-spacing: 0; }

a {
	color: inherit;
	text-decoration: underline;
	&:active {
		color: $mainColor;
	}
	text-decoration: none;
}

strong { font-weight: 700; }

data, i { font-style: normal; }

fieldset { border: 0; }

h1,h2,h3,h4,h5,h6 {
	font: {
		family: $headersFont;
	}
}

input,
textarea {
	min-height: $boxModel * 1.5;
}

p {
	margin: {
		top: $boxModel;
		bottom: $boxModel;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: $mainColor;
	strong {
		font-weight: 900;
	}
}

video {
	width: 100%;
	height: auto;
	&:focus {
		outline: 0;
	}
}

