/*******************************************************************************
Variables Globales */


// Colores
$mainColor: #59165b;
$secondaryColor: #f20adf;

$yellow: #ffb706;
$red: #fb0b1b;
$blue: #1c1e7e;
$lightBlue: #b0e1ef;
$gray: #9d9d9e;
$lightGray: #ececec;
$cream: #fcecd4; 
$black: #1d2123;
$white: #ffffff;
$gold: gold;
$orange: #ff7700;
$aqua: #61faef;
$purple: $mainColor;
$green: #51c965;
$brown: brown;
$pink: $secondaryColor;
$lightPink: #ffdeeb;
$lilac: #907cb9;


$colors: (
	"main"		: $mainColor,
	"secondary"	: $secondaryColor,
	"red"		: $red,
	"yellow"	: $yellow,
	"gold"		: $yellow,
	"white"		: $white,
	"black"		: $black,
	"orange"	: $orange,
	"blue"		: $blue,
	"gray"		: $gray,
	"lightGray"	: $lightGray,
	"aqua"		: $aqua,
	"purple"	: $purple,
	"green"		: $green,
	"brown"		: $brown,
	"pink"		: $pink,
	"lightPink"	: $lightPink,
	"cream"		: $cream,
	"lilac"		: $lilac,
);


// Fuentes
$mainFont: 'Nunito', 'Open Sans', 'Helvetica', sans-serif;
$headersFont: $mainFont;

// Títulos 
$titleSize: 14px;
$titleSmallSize: 12px;

$titleBigSize: 22px;
$titleBigSizeMobile: 18px;

$titleExtraBigSize: 28px;
$titleExtraBigSizeMobile: 22px;

$titleMegaBigSize: 42px;
$titleMegaBigSizeDesktopLarge: 42px;
$titleMegaBigSizeMobile: 32px;
$titleMegaBigSizePhone: $titleExtraBigSize;

$paragraphSize: 14px;
$paragraphWeight: 700;

$paragraphSmallSize: 12px;
$paragraphSmallWeight: 400;

$paragraphBigSize: 18px;
$paragraphBigWeight: 700;

$labelTextSize: 11px;
$helpTextSize: 9px;


// Caja
$boxModel: 20px;

// Media queries
$mobileMaxWidth: 756px;
$phoneMaxWidth: 416px;
$phoneSmallMaxWidth: 320px;
$desktopMaxWidth: 1280px;
$desktopLargeMinWidth: 1440px;

$mobile: ( max-width: $mobileMaxWidth );
$tablet: ( max-width: $mobileMaxWidth );
$phone: ( max-width: $phoneMaxWidth );
$phoneSmall: ( max-width: $phoneSmallMaxWidth );
$desktop: ( min-width: $mobileMaxWidth + 1 );
$desktopLarge: ( min-width: $desktopLargeMinWidth );
$desktopMedium: ( max-width: $desktopMaxWidth );

$onlyTablet: ( min-width: $phoneMaxWidth + 1 ) and ( max-width: #{$mobileMaxWidth} );
$onlyDesktopMedium: ( min-width: #{$desktopMaxWidth + 1} ) and ( max-width: $desktopLargeMinWidth );
$fromTablet: ( min-width: $phoneMaxWidth );

// Animaciones
$cubicBezier: cubic-bezier(1, -0.05, 0.2, 1);
$cubicBezier2: cubic-bezier(0.59,-1.77, 0.2, 1);
$linear: linear;

// adminbar
$adminbarHeight: 60px;

// Theme
// Existen variables locales a cada archivo incluidas en la carpeta del componente/modulo
$borderElement: 20px; // es el borde que tienen algunos elementos del lado derecho
$bannerHeight: 500px;



