/*******************************************************************************
/* Section programs */

#section-programs
    background-color: $lightGray

/*******************************************************************************
/* Programs bullets */

#section-programs-bullets
    background: 
        color: $yellow

.programs-bullet
    text-align: center
    box-sizing: border-box
    @media #{$desktop} 
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel


/*******************************************************************************
/* programs video */

#programs-video
    overflow: hidden
    
/*******************************************************************************
/* Topics */

#section-topics
    background-color: $lightGray

/*******************************************************************************
/* Topics feed */

.topics-feed
    @media #{$desktop} 
        display: flex
        flex-wrap: wrap

.topics-item
    flex-basis: calc(100% / 3)
    box-sizing: border-box
    color: $mainColor
    .topics-item__img
        width: 100%;
        max-width: initial
        height: $boxModel * 11
        object:
            fit: cover
            position: center
        margin:
            bottom: $boxModel / 2
    .topics-item__title
        @media #{$desktop} 
            min-height: 56px
    .topics-item__content
        @media #{$desktop} 
            height: 95px
            overflow: hidden
    @media #{$desktop} 
        @for $i from 1 through 50
            @if $i % 3 == 1
                &:nth-child(#{$i})
                    padding-right: $boxModel
            @if $i % 3 == 0
                &:nth-child(#{$i})
                    padding-left: $boxModel

/*******************************************************************************
/* section calendar */

#section-calendar
    overflow: hidden