#main-footer
    background: 
        color: $lightBlue
    @extend .ui-paragraph-small
    @media #{$mobile} 
        text-align: center

/*******************************************************************************
/* Sección de menues */

#footer__nav-section
    .wk-section-wrap 
        padding:
            top: 0
            bottom: 0
            
.footer__nav
    box-sizing: border-box
    padding: 
        top: $boxModel * 2
        bottom: $boxModel * 2
    .footer__nav-title
        font-weight: 700
        text-transform: uppercase
        margin-bottom: $boxModel
    // Menú about us
    .footer__nav-menu
        font-weight: 700
        line-height: 1.5
        @media #{$mobile} 
            line-height: 3

// Address
.address
    font-weight: 400
    p 
        margin: 
            top: 8px
            bottom: 8px
.address__social-links
    margin-top: $boxModel
.footer__nav-btn-donate
    width: 170px
@media #{$mobile} 
    .wk-col 
        margin: 
            top: $boxModel
            bottom: $boxModel


    
/*******************************************************************************
/* sección de legales */

.footer__legal
    font-size: 10px
    .wk-section-wrap
        box-sizing: border-box  
        border-top: 1px solid $black
        padding:
            top: $boxModel
            bottom: $boxModel
    @media #{$mobile} 
        .wk-col 
            margin: 
                top: $boxModel / 2.5
                bottom: $boxModel / 2.5
    .footer__legal-col_left
    .footer__legal-col_right
        @media #{$desktop} 
            text-align: right