.imgtext-layout
    // background-color: lighten($lilac, 10)
    width: 100%
    box-sizing: border-box
    display: flex
    align-items: center
    .imgtext-layout__img,
    .imgtext-layout__content
        @media #{$desktop} 
            padding: 
                top: $boxModel
                bottom: $boxModel
    .imgtext-layout__cols
        z-index: 1
    .imgtext-layout__img
        img 
            width: 100%
            height: auto
        box-sizing: border-box
        @media #{$desktop} 
            padding-right: $boxModel
    .imgtext-layout__content
        @media #{$desktop} 
            padding-left: $boxModel
        height: 100%
        +flex(flex-start,center,column)
        box-sizing: border-box
    a 
        @extend .ui-btn
    pre 
        @extend .ui-label-text
        white-space: initial

.imgtext-layout__parent  
    position: relative
    background-color: $lightGray
    .imgtext-layout_bg-element
        position: absolute
        display: block
        @media #{$desktop} 
            width: 30%
            height: 100%
            border-right: $borderElement solid $lilac
        @media #{$mobile} 
            width: calc(100% + #{$boxModel * 2})
            height: 30%
            top: 0
            border-bottom: $borderElement solid $lilac
        @media #{$phone} 
            height: 20%
        position: absolute
        // z-index: -1
        // bottom: 0
        left: 0
        background-color: $mainColor
        @media #{$mobile} 
            width: 100vw
    
/*******************************************************************************
/* Estílos de textos */

.imgtext-layout
    h1,h2,h3,h4,h5 
        @extend .ui-title-extra-big
    h6 
        @extend .ui-title
    h1,h2,h3,h4,h5,h6 
        color: $mainColor


