/*******************************************************************************
/* Single post */

/*******************************************************************************
/* Post header */

#section-post-header
    .wk-section-wrap
        padding:
            top: 0
            bottom: 0

.post__header
    height: 450px
    .post__header-img
        width: 100%
        height: 100%
        object:
            fit: cover
            position: center
        vertical-align: middle

/*******************************************************************************
/* Post nav */

#section-post-nav
    .wk-section-wrap
        padding: 
            top: 0
            bottom: 0  
    position: sticky
    top: 0
    background-color: $white  
    .is-scrolled & 
        // box-shadow: 0px 3px 10px rgba(0, 0, 0, .25)    
.post__nav
    box-sizing: border-box
    padding: 
        top: $boxModel / 2
        bottom: $boxModel / 2
        left: $boxModel
        right: $boxModel
    +flex(center, space-between)
    @media #{$desktop} 
        max-width: 90%
        margin: 
            left: auto
            right: auto
    border-bottom: 3px solid $lilac
    .post__nav-link
        +flex(center)
        @media #{$desktop} 
            margin:
                left: $boxModel
                right: $boxModel
        color: $mainColor
        position: relative
        transition: all .5s $cubicBezier2
        &:hover
            transform: scale(1.05)
        a 
            position: absolute
            width: 160px
            height: 100%
            +flex
        &.post__nav-prev-link
            a
                left: 0
        &.post__nav-next-link
            a
                right: 0
    .post__nav-icon
        transform: scale(.75)


/*******************************************************************************
/* Article */

article.post
    max-width: 700px
    margin:
        left: auto
        right: auto
    font-weight: 400
    line-height: 2
    color: darken($gray, 20)
    .post-edit-link
        display: block
        margin:
            left: auto
            right: auto
            bottom: $boxModel
        width: 32px
        text-align: center
    .post__date
        @extend .ui-title
        font-weight: 700
        display: block
        text-align: center
    .post__title_big,
    .post__title
        text-align: center
        line-height: 1.25
    .post__title_big
        @extend .ui-title-mega-big
    h6
        @extend .ui-title
    
    // wordpress
    .wp-block-columns
        border-top: 1px solid $gray
        padding-top: $boxModel * 2
        margin-top: $boxModel * 2
