#section-who-we-are
    background-color: $lightGray
    &:focus 
        outline: none
    .wk-section-wrap
        padding: 
            top: 0
            bottom: 0

.article
    .article__row
        +flex
        @media #{$mobile} 
            flex-direction: column
            padding: 
                top: $boxModel
                bottom: $boxModel
        @media #{$desktop} 
            padding: 
                top: $boxModel * 3
                bottom: $boxModel * 3
    .article__row-single-paragraph
        @media #{$desktop} 
            text-align: center
        max-width: 800px
        margin: 
            left: auto
            right: auto
    .article__col
        flex-basis: 50%
        &.article__col-left
            @media #{$desktop} 
                padding-right: $boxModel * 3
        &.article__col-right
            @media #{$desktop} 
                padding-left: $boxModel * 3
            .article__title 
    .article_paragraph-big 
        @extend .ui-paragraph-big
    .article__title,h1,h2,h3,h4,h5
        display: block
        @extend .ui-title-extra-big
        color: $mainColor
        font-weight: 900
    .article__subtitle, h6
        display: block
        @extend .ui-title-big
        font-style: italic
        color: $lilac
    .article__label, pre
        display: block
        @extend .ui-title
        font-weight: 100
        color: $lilac
    p
    img
        display: block
        margin: auto
        width: 100%
        height: auto
        @media #{$mobile} 
            max-width: 320px
            margin: 
                top: $boxModel
                bottom: $boxModel

    @media #{$mobile} 
        .article__row_invert-in-mobile
            flex-direction: column-reverse
        .article__p_center-on-mobile
            text-align: center

@each $color, $value in $colors
    &.article_#{$color}
        color: #{$value}