[role="form"],
.contact-form
    box-sizing: border-box
    padding: 
        top: $boxModel !important
        right: $boxModel !important
        bottom: $boxModel !important
        left: $boxModel !important
    // Estos estílos  son para cf7
    // Otro plugin necesitará nuevos estílos
    &.wpcf7
        .wpcf7-form
            +flex( center, flex-start, row, wrap)
            > p
                @media #{$desktop} 
                    flex-basis: calc(100% / 4)
                @media #{$mobile} 
                    flex-basis: calc(100% / 2)
                @media #{$phoneSmall} 
                    flex-basis: 100%
                margin: 0
            > p:last-of-type 
                flex-basis: 100%
                +flex
                input
                    border: 0            

    input,
    textarea,
    select
        border:
            radius: $boxModel
        min-height: $boxModel * 2
        box-sizing: border-box
        &:not([type="submit"])
            padding: 
                right: $boxModel
                left: $boxModel
            @extend .ui-help-text
            width: 100% !important
        &[type="submit"]
            min-width: 200px !important
            @extend .ui-btn
            @extend .ui-btn_pulse
        &:focus
            outline: 0
            border-color: $gray
    textarea
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
    select 
        cursor: pointer