.fixed-icon 
	text-decoration: none
	width: $boxModel * 2.25
	height: $boxModel * 2.25
	display: inline-flex
	align-items: center
	justify-content: center
	border-radius: $boxModel * 2
	&:nth-child(even)
		background-color: $white
	&:nth-child(odd)
		background-color: darken($white, 5)
		
	&.fixed-icon_overlap
		position: relative
		margin:
			right: -14px

@each $color, $value in $colors
	.fixed-icon_bg_#{$color}
		@if lightness($value) > 50
			background-color: lighten($value, 45)
		@elseif lightness($value) < 50
			background-color: lighten($value, 67)
	.fixed-icon_color_#{$color}
		color: $value

@for $i from 1 through 20
	// solo si todos están en un contenedor
	.fixed-icon_overlap:nth-child(#{$i})
		// z-index: 20 - $i