
.icon-arrow
    background-color: $white
    display: inline-block
    width: 40px
    height: 40px
    border-radius: 40px
    cursor: pointer
    position: relative
    transition: all .25s linear
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25)
    &:hover 
        background-color: darken($white, 5)
        transform: scale(1.025)
    &:before,
    &:after 
        content: ""
        display: block
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        width: 14px
        height: 1.5px
        background-color: $mainColor
    &.icon-arrow_prev
        &:before 
            transform: rotate(-45deg) translateY(.5px)
            transform-origin: top left
        &:after
            transform: rotate(45deg) translateY(-.5px)
            transform-origin: bottom left
    &.icon-arrow_next
        &:before 
            transform: rotate(45deg) translateY(.5px)
            transform-origin: top right
            transf
        &:after
            transform: rotate(-45deg) translateY(-.5px)
            transform-origin: bottom right

@each $color, $value in $colors 
    .icon-arrow_#{$color}
        background-color: $value
        &:before,
        &:after
            @if $color == 'white'
                background-color: $mainColor
            @else 
                background-color: $white
        &:hover 
            background-color: darken($value, 5)