/*******************************************************************************
/* Blog feed */

// Variables locales
$post_format_icon_size: 32px

.posts__container
    @media #{$desktop} 
        display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 300px)
    &:nth-child(odd)
        .post:nth-child(1)
            grid:
                template:
                    columns: repeat(2, 1fr)
                    rows: 100%
                row: 1 / 2
                column: 1 / 3
        .post:nth-child(2)
            grid:
                template:
                    columns: 100%
                    rows: repeat(2, 50%)
                row: 1 / 3
                column: 3 / 4
        .post:nth-child(3)
            grid: 
                template:
                    columns: repeat(2, 1fr)
                    rows: 100%
                row: 2 / 3
                column: 1/ 3
            .post__thumbnail
                grid:
                    row: 1 / 2
                    column: 2 / 3
            .post__content
                grid:
                    row: 1 / 2
                    column: 1/ 2
    &:nth-child(even)
        .post:nth-child(1)
            grid:
                template:
                    columns: 100% 
                    rows: repeat(2, 50%)
                row: 1 / 3
                column: 1 / 2
        .post:nth-child(2)
            grid:
                template:
                    columns: repeat(2, 1fr)
                    rows: 100%
                row: 1 / 2
                column: 2 / 4
            .post__thumbnail
                grid: 
                    row: 1 / 2
                    column: 2 / 3
            .post__content
                grid:
                    row: 1 / 2
                    column: 1 / 2
        .post:nth-child(3)
            grid: 
                template:
                    columns: repeat(2, 1fr)
                    rows: 100%
                row: 2 / 3
                column: 2/ 4

.post:not(article)
    @media #{$desktop} 
        display: grid
    width: 100%
    height: 100%
.post__thumbnail,
.post__content
    // width: calc(100% / 3 * 1)

.post__thumbnail
    // width: 100%
    height: 100%
    img 
        width: 100%
        height: 100%
        object:
            fit: cover
            position: center
    position: relative
    .post__format-icon
        position: absolute
        width: $post_format_icon_size
        height: $post_format_icon_size
        z-index: 1
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        background-color: $mainColor
        border-radius: $post_format_icon_size
        +flex
        color: $white
        font-size: 7px
.post__content
    width: 100%
    height: 100%
    text-align: center
    box-sizing: border-box 
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    +flex(center,center,column)
.post__date
    display: block
    @extend .ui-help-text
    text-transform: uppercase
    margin:
        bottom: $boxModel
.post__title
    @extend .ui-title
.post__excerpt
    @extend .ui-paragraph-small
.post__read-more-link
    @extend .ui-btn
    