@charset "UTF-8";
/******************************************************************************* */
/* Estos estílos son para clases de wordpress */
.aligncenter {
  margin: auto;
  display: block; }
