/*******************************************************************************
/* Banner */

.banner 
    height: $bannerHeight
    position: relative
    display: flex
    .wk-section-wrap
        +flex
    &.banner_text-left
        justify-content: flex-start
        &:before
            content: ""
            width: 50%
            height: 100%
            display: block
            position: absolute
            top: 0
            left: 0
            background: linear-gradient(to left, rgba($white, 0), rgba($white, .75))
            z-index: 1
    &.banner_text-right
        justify-content: flex-end
        &:before
            content: ""
            width: 50%
            height: 100%
            display: block
            position: absolute
            top: 0
            right: 0
            background: linear-gradient(to left, rgba($white, .75), rgba($white, 0))
            z-index: 1
    &.banner_text-top
        justify-content: center
        &:before
            content: ""
            width: 100%
            height: 60%
            display: block
            position: absolute
            top: 0
            background: linear-gradient(rgba($white, .75), rgba($white, 0))
            z-index: 1
    &.banner_text-bottom
        justify-content: center
        align-items: flex-end
        &:before
            content: ""
            width: 100%
            height: 60%
            display: block
            position: absolute
            bottom: 0
            background: linear-gradient(to top, rgba($white, .75), rgba($white, 0))
            z-index: 1
    &.banner_text-center
        align-items: center


.banner__bg
    width: 100%
    height: 100%
    object: 
        fit: cover
        position: center
    position: absolute
    z-index: 0
    top: 0
    left: 0
.banner__content
    width: 50%
    position: relative
    z-index: 1
    text-align: center
.banner__img
    margin: 
        top: $boxModel * 2
        bottom: $boxModel * 2
.banner__title
    @extend .ui-title-mega-big
    line-height: 1.25
    font:
        weight: 900

.banner__leyend
    padding: 
        top: 0
        bottom: 0
    color: $mainColor
    text-align: center
