
/*******************************************************************************
/* Testimonials */

.testimonials
    color: $white
    background:
        image: url('assets/img/background-testimonials.jpg')
        position: center
    box-sizing: border-box
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel

.testimonials__slider
    @media #{$desktop} 
        min-height: 400px
    @media #{$mobile} 
        min-height: 200px
    max-width: 500px
    width: 100%
    margin:
        left: auto 
        right: auto
    +flex
    .testimonial
        text:
            align: center
        .testimonial__title
            @media #{$desktop} 
                font-size: 34px
            @media #{$mobile} 
                font-size: 22px
            color: $white
            font:
                size: 34px
                weight: 400
            line-height: 1.25
    .slick-track
        +flex(center)


$sliderBorderWidth: 4px

.testimonials__nav

.testimonials__nav-item
    height: 250px
    transition: transform .25s $cubicBezier2 .25s  
    +flex(center,center,column)


.testimonials__nav-content
    text-align: center
    width: 100%
    height: 100%
    +flex(center,space-evenly,column)

.testimonials__nav-icon
    cursor: pointer
    transition: transform .25s $cubicBezier2 .25s
    border-radius: 64px
    background: 
        color: $white
    width: 64px
    height: 64px
    @media #{$mobile} 
        width: 32px
        height: 32px
    +flex
    object: 
        fit: contain
        position: center
    position: relative
    img 
        width: 42px
        @media #{$mobile} 
            width: 20px
        height: auto
    .slick-current &
        transform: scale(1.5)
            // origin: top

.testimonials__nav-title
    width: 100%
    padding:
        top: $boxModel * 2
    margin:
        top: $boxModel
    position: relative
    @extend .ui-title-big
    color: transparent
    transition: color .5s $linear .5s
    &:before,
    &:after 
        content: ""
        width: 100%
        height: 3px
        background-color: $white
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 
            left: auto
            right: auto
    &:after
        width: 0
        transition: all .5s $cubicBezier2 .25s
    .slick-current & 
        // transform: scale(1.3)
        color: $white
        &::after
             background-color: $yellow
             width: 150px
        
