/*******************************************************************************
 Off canvas menu (móvil) */

body.off-canvas-is-active 
    section:not(#section-offcanvas)
        left: 50%
    overflow-y: hidden

section
    position: relative
    transition: all 1s $cubicBezier
    left: 0
    // overflow: hidden


#section-offcanvas 
    position: fixed
    top: 0
    left: 0
    background-color: $white
    z-index: 12
    width: calc(100vw - 100px)
    height: 100%
    box-sizing: border-box
    line-height: 2
    transition: all 1s $cubicBezier
    transform: translateX(-100%)
    padding: 
            top: $boxModel
            bottom: $boxModel
    @extend .ui-title-big
    font-weight: 100
    .off-canvas-is-active &
        transform: translateX(0%)
        box-shadow: 6px 0px 10px rgba($black, .05)
    @media #{$desktop} 
        display: none
    .page_item
        padding: 
            right: $boxModel
            left: $boxModel
        border-bottom: 1px solid $lightGray
        transition: all .25s $linear
        transform: translateX(-50px)
        opacity: .25
        .off-canvas-is-active &
            transform: translateX(0)
            opacity: 1
            @for $i from 1 through 20
                &:nth-child(#{$i})
                    transition-delay: #{($i + 5) * .075}s
                    

.main__header-sets-offcanvas
    justify-content: space-evely
    @media #{$mobile} 
        width: 100% !important
    .main__header-sets-offcanvas-col
        +flex(center,flex-end)
    .main-header__offcanvas-icon
        font-size: 22px
        cursor: pointer
        box-sizing: border-box
        padding: 
            right: $boxModel
            left: $boxModel