/*******************************************************************************
/* Sección about tabs */


// Variables de esta sección
$borderWidth: 4px


#section-about-tabs 
    position: sticky
    @media #{$desktop} 
        top: 103px
    @media #{$mobile} 
        top: 86px
    z-index: 11
    background-color: $white
    @media #{$desktop} 
        height: $boxModel * 4
    display: flex
    .wk-section-wrap 
        display: flex
        // height: 100%
        padding: 
            top: 0
            bottom: 0
        @media #{$mobile} 
            padding: 
                left: 0
                right: 0

.about-tabs__title 
    width: 100%
    @extend .ui-title
    color: $lilac
    padding:
        top: $boxModel
        bottom: $boxModel
    desktop:
        border:
            bottom:
                style: solid
                width: 4px
                color: $lilac
    +flex(center)
    cursor: pointer
    transition: all .15s linear
    &:hover
        color: $mainColor
    position: relative
    &:before
        content: ""
        display: inline-block
        position: absolute
        @media #{$desktop} 
            top: 0
            width: 200px
            height: $borderWidth
        @media #{$mobile} 
            left: 0
            width: $borderWidth
            height: 100%
        background-color: $lilac
    &:after 
        content: ""
        display: inline-block
        position: absolute 
        @media #{$desktop} 
            width: $borderWidth
            height: $borderWidth * 2 
            top: $borderWidth 
            left: 0
            right: 0
        @media #{$mobile} 
            height: $borderWidth
            width: $borderWidth * 2 
            left: $borderWidth
            top: 0
            bottom: 0
        margin: auto
        background-color: $lilac
        

.about-tabs__current-tab
    @extend .ui-title-big
    color: $mainColor
    border-color: darken($lilac, 10)
    &:before,
    &:after 
        background-color: darken($lilac, 10)
        color: darken($lilac, 10)

/*******************************************************************************
/* About us board of directors and staff */

@import 'about-us-arraymap'

#section-staff
    max-width: 900px
    .wk-section-wrap 
        padding: 
            top: 0

.staff-members 
    display: flex
    justify-content: center
    flex-wrap: wrap
    .staff-members__title
        flex-basis: 100%
        text-align: center
        @extend .ui-title-extra-big
        font:
            weight: 900
        margin:
            top: $boxModel * 2
            bottom: $boxModel * 2

.staff-member 
    text-align: center
    background-color: $lightPink
    width: 100%
    @media #{$desktop} 
        max-width: 250px
    @media #{$mobile} 
        max-width: 45%
    @media #{$phone} 
        max-width: 100%
    border:
        radius: 12px
    height: 350px
    margin: 
        bottom: $boxModel
        left: $boxModel / 2
        right: $boxModel / 2
    box-sizing: border-box
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    display: inline-flex
    flex-direction: column
    align-items: center
    justify-content: center
    .staff-member__avatar
        margin:
            bottom: $boxModel
    .staff-member__title
        @extend .ui-title
        font-weight: 900
        color: $mainColor
    .staff-member__position
        color: $lilac
        @extend .ui-label-text
        font-style: italic
        letter-spacing: 1px
    .staff-member__email
        @extend .ui-label-text
        display: block
        margin:
            top: $boxModel
            bottom: $boxModel
        color: darken($lilac, 20)
        font:
            weight: 400
            style: italic
        &:before
            content: "\f0e0"
            font:
                family: "Font awesome 5 free"
                style: normal
            margin: 
                right: 4px
            
    .staff-member__contact-btn
        @extend .ui-btn
        &:visited,
        &:focus
            background-color: lighten($mainColor, 20)
        .staff-members_directors &
            @extend .ui-btn_lilac

@each $color, $value in $staffMemberTheme
    .staff-member_#{$color}
        background-color: #{$value}
        .staff-member__position,
        .staff-member__email
            @if( $value != $lightPink )
                color: $white

