/*******************************************************************************
/* Get involved logos */

.get-involved__logos
    display: flex
    flex-wrap: wrap 
    .get-involved__logo 
        width: calc(100% / 7)
        height: 80px
        object: 
            fit: contain
            position: center
        margin:
            bottom: $boxModel * 2.5
        @media #{$mobile} 
            min-width: 200px
        @media #{$phone} 
            width: 50%
            min-width: 50%