#main-header 
	@media #{$desktop} 
		position: sticky
		top: 0
	background-color: $white
	z-index: 11
	.is-scrolled & 
		box-shadow: 0px 6px 6px rgba(0,0,0,.05)
	.wk-section-wrap
		padding: 
			top: 0
			bottom: 0
	color: $mainColor
	font:
		weight: 600 
	.main-header__cols 
		display: flex 
		justify-content: space-between
		align-items: center
		.main-header__col 
			width: initial
			display: flex 
			align-items: center
	.main-header__menu 
		@media #{$mobile} 
			display: none
		.main-header__menu-list
			.menu-item
				display: inline-block
	.menu-item
		box-sizing: border-box
		padding: 
			top: $boxModel * 2
			bottom: $boxModel * 2
		transition: border .25s linear
		&:not(.menu-item_no-text)
			border-top: 4px solid transparent
		a 
			transition: color .25s linear
			text-decoration: none
		&:not(:last-child)
			margin:
				right: $boxModel
		&.current-menu-item
			border-color: lighten($mainColor, 20)
			color: lighten($mainColor, 20)
		&:hover 
			border-color: $mainColor
			color: lighten($mainColor, 20)
		&.menu-item__btn
			padding: 
				top: 0
				bottom: 0
		.ui-btn
			min-width: initial
		
		// Ajustes de iconos
		.fixed-icon_overlap
			margin-right: -27px
		



