/*******************************************************************************
/* Yout programs banner top */


/*******************************************************************************
/* Video */

#programs-video
    background-color: $lightGray
    .wk-section-wrap
        @media #{$mobile} 
            padding: 
                top: 0
                right: 0
                bottom: 0
                left: 0

.video_frame
    @media #{$desktop} 
        width: 90%
    @media (min-width: 1281px) 
        width: 100%
    background:
        color: $mainColor
    box-sizing: border-box
    @media #{$desktop} 
        padding: 
            top: $boxModel * 3
            bottom: $boxModel * 3
            right: $boxModel * 3
    @media #{$mobile} 
        padding: 
            top: $boxModel * 3
            right: $boxModel * 2
            bottom: $boxModel * 3
            left: $boxModel * 2
    +flex(center,flex-end)
    position: relative
    &:before,
    &:after
        content: ""
        display: block
        height: 100%
        width: 100px
        background-color: red
        position: absolute
        top: 0
    &:before 
        right: 100%
        background-color: $mainColor
        width: 1000px
    &:after
        left: 100%
        background-color: $lilac
        width: $boxModel * 3
        @media #{$mobile} 
            top: initial
            bottom: 0
            left: 0
            width: 120%
            height: $boxModel
    video 
        @media #{$desktop} 
            width: 80%
        @media #{$mobile} 
            width: 100%

/*******************************************************************************
/* Slide set */

#section-youth-programs-slideset
    background-color: $lightGray

.slide-set
    width: calc(100% - 120px)
    margin: 
        left: auto
        right: auto
    img 
        height: 380px
        @media #{$desktopLarge} 
        @media #{$mobile} 
            height: 200px
        width: auto
        margin: 
            right: $boxModel * 2
    .icon-arrow_prev
        left: -50px
    .icon-arrow_next
        right: -50px
    .slider__arrow
        @media #{$mobile} 
            bottom: 0
            top: 0
            margin:
                top: auto
                bottom: auto

/*******************************************************************************
/* Youth logos */

.youth-programs__logos
    @media #{$desktop} 
        +flex(center, space-between, row, wrap)
    > *
        @media #{$desktop} 
            flex-basis: calc(100%/9)
    .youth-programs__logo 
        @media #{$mobile} 
            height: 50px;
            width: auto;
