/*******************************************************************************
/* Sección de newsletter */

#footer__news-section
    .wk-section-wrap 
        padding:
            top: 0
            bottom: 0

.footer__news
    // layout
    color: $mainColor
    background:
        image: url(assets/img/newsletter_bg.jpg)
        size: cover
        position: center
    @media #{$mobile} 
        background:
            position: right
            repeat: no-repeat
    height: 160px
    box-sizing: border-box
    padding: 
        top: $boxModel
        bottom: $boxModel
    +flex( start,center,column )
    @media #{$desktop} 
        padding-left: 35%

    // Textos
    .footer__news-title
        @extend .ui-title-big
        text-transform: uppercase
        margin-bottom: $boxModel / 2
    .footer__news-form
        height: $boxModel * 2.5
        width: 100%
        min-width: 280px
        @media #{$phone} 
            min-width: initial
        +flex(center,start)
        .footer__news-input-icon
            display: inline-block
            width: 40px
            height: 100%
            padding: 
                left: 6px
                right: 6px
            background:
                image: url(assets/img/icon-envelope.png)
                repeat: no-repeat
                position: center
                color: $white
        .footer__news-input
            width: 100%;
            max-width: 400px
            height: 100%
            margin: 
                top: 0
                bottom: 0
            border: 0
            width: 100%