#section-donate
    background-color: $lightGray
    .wk-section-wrap
        padding: 
            bottom: $boxModel / 2

.donate
    .donate__header
        margin: 
            top: $boxModel
            bottom: $boxModel
        padding: 
            top: $boxModel
            bottom: $boxModel
        position: relative
        &:before,
        &:after
            content: ""
            display: block;
            width: 100%;
            height: 1px
            background-color: $gray
            position: absolute
            top: 100%
            left: 0
            right: 0
            margin:
                left: auto
                right: auto
        &:after
            background-color: $pink
            height: 4px
            width: 200px
            top: calc(100% - 1px)
        
    .donate__title
        @extend .ui-title-mega-big
        font-weight: 900
        text-align: center
    .donate__icon
        margin:
            left: auto
            right: auto
            top: $boxModel
            bottom: $boxModel
        color: $pink
        font-size: 22px
        display: block
        +flex
        @extend .ui-btn_pulse
    
    .donate__number
        +flex(flex-start, center)
        color: $mainColor
        margin: 
            top: $boxModel * 2
    .donate__number-symbol
        font:
            size: 22px
            weight: 100
        margin:
            right: $boxModel / 2
        transform: translateY(10px)
    .donate__number-quantity
        font:
            size: 62px
            weight: 100
        line-height: .85
        input.donate__number-quantity-input
            font:
                size: 62px
                weight: 100
            height: initial
            width: 300px
            background: none
            border: 0
            color: $mainColor
            margin: 
                top: 0
                bottom: 0
            padding: 
                left: 0
                right: 0
            text-align: center
            &:focus
                outline: none
            &::-webkit-inner-spin-button
                opacity: 1
                cursor: pointer
            // &:-webkit-outer-spin-button
            //     opacity: 1
            
    .donate__btn
        @extend .ui-btn_pulse
        transform: scale(1.25)
        width: 250px
        text-align: center
        +flex
        margin: 
            left: auto
            right: auto
            top: $boxModel * 2
            bottom: $boxModel * 4


.donate__number-quantity-input::-webkit-inner-spin-button, 
    //   -webkit-: non
    width: 20px !important
    margin-left: 20px !important;
